@using WEB_253502_POBORTSEVA.Domain.Entities
@model Cart

<a asp-controller="Cart" asp-action="Index" class="navbar-text ms-auto">
    @Model.TotalPrice.ToString() $ <i class="fa-solid fa-cart-shopping"></i> (@Model.Count)
</a>