@{
    var controller = ViewContext.RouteData.Values["controller"]?.ToString().ToLower() ?? String.Empty;
}

<a class="navbar-brand" href="#">
    <i class="fa fa-desktop" aria-hidden="true"></i>
    25350097
</a>
<div class="navbar-nav">
    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link @(controller == "home" ? "active" : "")">Лб 1</a>
    <a asp-controller="Product" asp-action="Index" class="nav-item nav-link">Каталог</a>
    <a asp-area="Admin" asp-page="/Index" class="nav-item nav-link">Администрирование</a>
</div>