@if (SelectedProduct != null)
{
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="@SelectedProduct.ImagePath" alt="Product image">
        <div class="card-body">
            <h5 class="card-title">@SelectedProduct.Name</h5>
            <p class="card-text">@SelectedProduct.Description</p>
            <a class="btn btn-primary">Цена: @SelectedProduct.Price</a>
        </div>
    </div>
}

@code {
    [Parameter]
    public Product? SelectedProduct { get; set; }
}